* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
  cursor: none;
}

html,
body {
  height: 100%;

  width: 100%;
}
*::selection {
  background-color: #fff;
  color: #95c11e;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  /* background: transparent; */
  background: rgba(26, 26, 26, 0.628);
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}
body {
  overflow-x: hidden;
}






















#cursor {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  /* mix-blend-mode: difference; */
}

.cursor-scale h1{
  transform: scale(3);
  transition: transform 0.1s ease-in;
  /* Define any other styles you want for the scaled state here */
}

/* Optional: Define a hover effect if desired */
#cursor:hover {
  transform: scale(3);
  transition: transform 0.1s ease-in-out;

}


#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  /* justify-content: flex-start; */
  justify-content: center;
  z-index: 998;
  cursor: none;
}
#nav img {
  height: 4.5vw;
  color: #ffffff;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.15vw;
  mix-blend-mode: difference;
  cursor: none;

}
#nav p{
  border: 1px solid white;
  padding: 0.8vw;
  margin-left: 4vw;
}
#nav p:hover{
  background-color: #fff;
  color: black;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  /* mix-blend-mode: difference; */
}

#main {
  width: 100vw;
  position: relative;
  background-color: rgba(0, 0, 0, 0.20);
}

#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "DINE ON DREAMS";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px #A3AC84;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 40%;
}
#page1 #logo {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #070707;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}

#page1 #logo:hover {
  scale: 0.4;
  background-color:black;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 3vw;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 30px;
  /* padding: 0 2vw; */
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 0.6px #ffffff;
  /* font-family: "Silver South Script"; */

}

#scroller h4:hover {
  color: #fff;
  -webkit-text-stroke: 2px #fff;
}

@keyframes scroll { 
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  /* color: #000; */
  margin-top: 8vh;

  justify-content: space-around;
}
#about-us img {
  height: 330px;
  width: 280px;
  margin-right: 5vw;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 4vh;
  /* background-color: #e8d8be; */
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 30px;
  /* color: #000; */

}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
  /* color: #000; */

}
#head{
  width: 100%;
  height: 10vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: 5vh;
}
#head h1{
  font-size: 5vw;
  font-family: "Silver South Script";

}

#cards-container {
  /* background-color: red; */
  /* width: 100%; */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  white-space: nowrap;
  /* overflow: hidden; */
  z-index: 10;
  /* overflow-x: scroll; */
  padding-left: 350px ;
  padding-right: 80px ;

  /* overflow: -moz-hidden-unscrollable; */
  overflow-x: auto;
}
#cards-container::-webkit-scrollbar {
  display: none;
}
.card {
  height: 80%;
  width: 40%;

  /* background-color: blue; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  /* display: inline-block; */
  /* overflow: hidden; */
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(/img/cardimg6/1.jpeg);
}
#card2 {
  background-image: url(/img/cardimg6/2.jpeg);
}
#card3 {
  background-image: url(/img/cardimg6/3.jpg);
}
#card4 {
    background-image: url(/img/cardimg6/4.jpeg);
}
#card5 {
    background-image: url(/img/cardimg6/5.jpg);
}
#card6 {
    background-image: url(/img/cardimg6/6.jpg);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #98989748;
   padding: 40px;
  /* padding-top: 260px; */
  border-radius: 20px;
  opacity: 0;
  transition: all ease 0.6s;
  display:inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.overlay h4 {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  /* white-space: nowrap; */
  margin-bottom: 20px;
  font-weight: 800;
  /* overflow:auto; */
}
.overlay h1{
  font-family: "Silver South Script";
  font-size: 60px;
}

.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}



/* --------------------------------------------------------------------------- */
#blue-div {
  height: 40.349007314524556vh;  ;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-direction: column;
  padding: 3vh 0;
  padding-bottom: 30vh;
  background-color: black;
  /* background: linear-gradient(to left bottom, #119f3a, #ace022); */
  /* background-color: #4BD1A0; */
  color: white;
  line-height: 7vh;
  /* margin-bottom: 10vh; */
}
#blue-div h2{
  font-size: 2.2vw;
  
}
#blue-div h3{
  font-family: "Silver South Script";
  font-size: 4vw;
}
#blue-div h1{
  font-size: 3vw;
}
#blue-div h4 {
   width: 45%;
   padding-top:2vh ;
  line-height: 23px; 
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}
#blue-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}

#page3 {
  height: 90vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
#page3 > p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 100px;
}
#page3 #colon1 {
  left: 10%;
  top: 25%;
  color: #4BD1A0;

}
#page3 #colon2 {
  bottom: 30%;
  right: 10%;
  rotate: 180deg;

}





#smalltext{
  width: 100%;
  /* background-color: red; */
  height: 30vh;
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(189, 189, 189);
}
#smalltext #leftside{
  width: 50vw;
  height: 5vh;
  /* background-color: rgb(87, 87, 213); */
  display: flex;
  align-items: center;
  
}
#smalltext #leftside #line{
  width: 2.5vw;
  height: 0.5vh;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0 0.5vw;
    
}
#smalltext #leftside h3{
  font-size: 5vw;
  font-weight: 400;
  font-family: "Silver South Script";

}

#smalltext #rightside{
  width: 37.104166666666664vw;
  /* height: 16.50992685475444vh; */
 
  /* background-color: rgb(92, 171, 107); */
}
#smalltext #rightside h3{
  font-weight: 500;
  font-size: 1vw;
  text-align: start;
  margin-right: 3vw;
  
}















#page4 {
  height: 30vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color:#616b67b1;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}


#footer{
  width: 100vw ; 
  height: 100.10449320794149vh;
  background-color:#1B1B1B;
}
/* ------------ */
#footer #letter{
  width: 100%;
  height: 29.885057471264368vh;
  color: white;
  padding: 0 1vw;
  padding-right: 2vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 0.5vh;
}
#letter h3{
  font-weight: 400;
}

#letter h1{
  font-size: 5vw;
  letter-spacing: -0.3vw;

}
/* ------------ */
#footer #email{
  width: 100%;
  height:  5.260416666666667vw;
  color: white;
  padding: 0 1vw;
  display: flex;
  align-items: center;
  padding-right: 2vw;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 0.5vh;
}
#email h2{
  font-size: 2vw;
  letter-spacing: -0.1vw;

}
/* ------------ */
#footer #center{
  width: 100%;
  height:  25.15625vw;
  color: white;
  padding: 0 1vw;
  display: flex;
  /* align-items: center; */
  padding-right: 2vw;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 0.5vh;
  position: relative;
}
/* ------------ */

/* #center #left{
      width: 20.37617554858934vh;
      height: 100%;
      /* background-color: #D54335; */
      /* display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
} */ 
/* #circle{
  margin-left: -9vw;
}
#circle #bcircle{
  width: 8vw;
  height: 8vw;
  clip-path: polygon(50% 0%, 68% 25%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);    
  background-color: #1B7DB6;
  /* color: #1B7DB6; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
   */ 
  /* padding: 0.5vw; */
  
/* } */
/* #ocircle{
  width: 8vw;
  height: 8vw;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  background-color:#D54335;
  position: absolute;
}
#bcircle h3{
  font-size: 1.3vw;
  color: white;
  margin-right: 1vw;
  transform: skew(10deg);
  rotate: -40deg;
} */
/* ------------ */

/* #left h4{
  padding-bottom: 1vh;
} */
/* ------------ */


#center #left{
  width: 50.37617554858934vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
}
#left #par h1{
  margin-bottom: 2vh;
  font-size: 2.5vw;
}
#left #par p{
  /* background-color: #4BD1A0; */
  width: 20vw;
  font-size: 1.5vw;
  line-height: 3.4vh;
}
#par p span{
  text-decoration: underline;
}

#center #right{
  width: 45.37617554858934vh;
  height: 100%;
  /* background-color: #D54335; */
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  padding-bottom: 1vh;
  /* gap: 2vw;    */
}
#right a{
  color: white;
  text-decoration: none;
}
#right img{
  width: 20vw;
  height: 29vh;
  margin-bottom: 6vh;
  margin-left: -2vw;
}
/* ------------ */
#end{
  height:  8.77742946708464vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2vw;
}
#end #r {
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  
}
#r h3{
  font-weight: 200;

}
#end #l a{

  text-decoration: none;
  color: white;
 
  margin-left: 2vw;

}